<div id="sidebar">
  <div id="sidebar_top">
      <div class="sidebar_title">

      </div>
      <div class="sidebar_links">

      </div>
      <%= render partial: 'shared/word_vertical', locals: {word: "scrabble"}%>
      <%= render partial: 'players/games_youre_in' %>
    <% if session[:id] %>
        <%= link_to "logout", session_path(session[:id]), method: :delete %>
    <% else %>
        <%= link_to "signup", new_player_path %>
        <%= link_to "signin", new_session_path %>
    <% end %>
  </div>
  <div class="scrabble">
    <%= link_to "Scrabbble", root_path %>
  </div>
</div>