<div class="game_to_join">
  <div class="game_to_join_title">Game Number <%= game.id %></div>
  <div class="versus"><%= game.players.first.username.capitalize %> VS
    <% if game.players.length > 1 %>
        <%= game.players.last.username.capitalize %>
    <% else %>
        <% if game.players.first.id == session[:id] || game.players.last.id == session[:id] %>
            _______
        <% else %>
            <%= link_to "Join Game", join_game_path(game), class: "button", :method => :post %>
        <% end %>
    <% end %>
  </div>
  <div class="game_to_join_time_ago">created <%= distance_of_time_in_words_to_now(game.created_at) %> ago</div>

</div>