<div class="borderwhite">
  <div class="borderblack">
    <table id="board">
      <% (0..14).each do |x| %>
        <tr>
          <% (0..14).each do |y| %>
          <td id="cell_<%= x %>x<%= y %>" data-x="<%=x%>" dat-y="<%=y%>" class="cell">
            <% if letter = @game.find_cell_letter(x, y) %>
                <%= render partial: 'tile', locals: {letter: letter, value: Tile.find_by_letter(letter.upcase).value} %>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="tray_area">
    <div class="submit_button"><%= button_to "Submit", {}, :id => "submit_button", :class => "button" %></div>
    <div class="tray">
        <table id="tray">
          <tr>
            <% (0..6).each do |tile_index| %>
              <td class="cell">
                <%= render partial: 'tile', locals: {letter: 'Q', value: 10} %>
              </td>
            <% end %>
          </tr>
        </table>
    </div>
    <div class="tray_buttons">
        <div><%= button_to "Shuffle", {}, :class => "button", :id => "shuffle" %></div>
        <div><%= button_to "Reset Letters", {}, :class => "button", :id => "reset" %></div>
    </div>

</div>
