
    <table id="board">
      <% (0..14).each do |x| %>
        <tr>
          <% (0..14).each do |y| %>
          <td id="cell_<%= x %>x<%= y %>" data-x="<%=x%>" data-y="<%=y%>" class="cell">
            <% if letter = @game.find_cell_letter(x, y) %>
                <%= render partial: 'tile', locals: {letter: letter, value: Tile.find_by_letter(letter.upcase).value, active: false} %>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </table>