<!DOCTYPE html>
<html>
<head>
  <title>Scrabbble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--<link href="http://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css">-->
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Great+Vibes' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render partial: 'shared/sidebar' %>
  <div class="main">
    <%= yield %>
  </div>
</div>

</body>
</html>
